.path-div {
    margin: 0;
    background-color: #313131;
    padding: 15px;
    border-radius: 10px;
}
.path-text {
    font-size: 12px;
    font-weight: 400;
    color: $path-text;
    word-break: break-all;
    line-height: 1.4;
}