// APP
$bg-color: #1E1E1E;
$app-bg: #232323;

// HEADER
$header-bg: #171717;

// TEXTS
$text-color: #B6B6B6;
$white-text: white;
$path-text: #d4d4d4;

// BUTTONS 
$button-bg: #2D2D2D;
$button-hover: #3D3D3D;
$install-btn: #4CAF50;
$install-btn-hover: #3e8e41;
$close-hover: #e07b823f;

// MODALS
$modal-bg: rgba(0, 0, 0, 0.7);
$modal-content: #232323;

// PROGRESS-BARS
$progress-bg: #2D2D2D;
$progress-bar: #4CAF50;